[correcthorse]
name=Correct Horse Packages $releasever - $basearch
baseurl=https://download.correct.horse/correcthorse/$releasever/Everything/$basearch
enabled=1
gpgcheck=1
gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-CORRECTHORSE
module_hotfixes=true
